@model OdvozOtpada.Models.grad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>grad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imeGrad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imeGrad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idGrad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
